body{
    margin: 25px 50px;
    padding: 25px 50px;
    font-family: Arial, Helvetica, sans-serif;
}

hr:first-child{
    margin-top: 25px;
}
.photo img{
    width: 350px;
    display: block;
    margin-bottom: 50px;
}

form h3{
    font-size: 18px; 
}
form input{
    display: block;
    padding: 4px;
    margin-bottom: 10px;
}
form textarea{
    display: block;
    margin-bottom: 20px;
}
